link:https://www.csie.ntu.edu.tw/~cjlin/libsvmtools/datasets/binary/a5a

In [404]:
# importing libraries 
import numpy as np
import pandas as pd
import urllib

import sklearn
from sklearn.neighbors import KNeighborsClassifier

from sklearn.model_selection import train_test_split

from sklearn import metrics
from sklearn.metrics import accuracy_score

import re

In [402]:
#url ='https://www.csie.ntu.edu.tw/~cjlin/libsvmtools/datasets/binary/a5a'
#raw_data = urllib.urlopen(url)


#s = ur.urlopen(url)
#sl = s.read()
#print(sl)


#sp = raw_data.split(' ')
#datasets = np.loadtxt(sp, delimiter=':')
#dd = data.isnull().sum()
#print(data.describe)
#print(data.head)
#X = df.loc[2]
#print(data)
#print (type(X))
# creating a dataframe from list
#df = pd.DataFrame(data)
#X = df.iloc[0:100]

test_list = ["", "GeeksforGeeks", ":1", "is", "best", ""]




##print(len(xx[5][3])) #look here it give the length of the string, we have to find a way that when we subtract 2 from this string it should return the data of index[2] whicth is for ex 14
#df = pd.DataFrame(data)
#while('3:1' in str(xx)) : 
#    xx.remove("3:1")
#    print ("Modified list is : " + str(xx))
#print(test_list[0:10])


#f = re.sub(':1', '',str(df[0:1]))
#ff = re.sub('NaN', '', str(f))

#print(df)
#print(type(ff))
#x = np.array(ff)
#print(type(x))
#X = np.array([[-1, -1], [-2, -1], [-3, -2], [1, 1], [2, 1], [3, 2]])
#Y = np.array([1, 1, 1, 2, 2, 2])
#clf = GaussianNB()
#clf.fit(X, Y)
#print(clf.predict([[-0.8, -1]]))

#clf_pf = GaussianNB()
#clf_pf.partial_fit(X, Y, np.unique(Y))
#print(clf_pf.predict([[-0.8, -1]]))
#print(re.findall('1', str(f[1])))




# read csv file
data = pd.read_csv("datasets.csv")
datasets = data.to_numpy() #change dataframe to numpy array this is array numpy is a library

######## length and type of datasets ############
sets_type = type(datasets)
le = len(datasets)
print('Datasets type',sets_type)
print('length', le)
data.head()
################################################

('Datasets type', <type 'numpy.ndarray'>)
('length', 6414)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,Unnamed: 16
0,-1,3:1,11:1,14:1,19:1,39:1,42:1,55:1,64:1,67:1,73:1,75:1,76:1,80:1,83:1,NaN,NaN
1,-1,3:1,6:1,17:1,22:1,36:1,41:1,53:1,64:1,67:1,73:1,74:1,76:1,80:1,83:1,NaN,NaN
2,1,3:1,6:1,18:1,20:1,37:1,40:1,51:1,63:1,71:1,73:1,74:1,76:1,82:1,83:1,NaN,NaN
3,-1,3:1,6:1,17:1,27:1,35:1,40:1,57:1,63:1,69:1,73:1,74:1,76:1,81:1,103:1,NaN,NaN
4,-1,1:1,7:1,16:1,22:1,36:1,42:1,56:1,62:1,67:1,73:1,74:1,76:1,79:1,83:1,NaN,NaN

In [403]:

dd = datasets.reshape(-1, 1)
print(dd)
for arr in datasets[0:5]:
    #print(arr)
    a = arr[0]
    if a == -1:
        aa = arr[1:14]
        aaa = aa.reshape(-1, 1)
        aux = re.sub(':1', '',str(aaa))
        x = re.sub('nan', '0', aux)
        #print('-1')
        print(aux)
    
    
#     if a == 1:
#         bb = arr[1:14]
#         bbb = bb.reshape(-1, 1)
#         aux = re.sub(':1', '',str(bb))
#         y = re.sub('nan', '0', aux)
#         #print('1')
#         #print(y)
        
        
        
#     neigh = KNeighborsClassifier(n_neighbors=3)
#     neigh.fit(x, y)
#     print(neigh.predict([[1.1]]))
#     print(neigh.predict_proba([[0.9]]))

[[-1]
 ['3:1']
 ['11:1']
 ...
 ['110:1']
 [nan]
 [nan]]
[['3']
 ['11']
 ['14']
 ['19']
 ['39']
 ['42']
 ['55']
 ['64']
 ['67']
 ['73']
 ['75']
 ['76']
 ['80']]
[['3']
 ['6']
 ['17']
 ['22']
 ['36']
 ['41']
 ['53']
 ['64']
 ['67']
 ['73']
 ['74']
 ['76']
 ['80']]
[['3']
 ['6']
 ['17']
 ['27']
 ['35']
 ['40']
 ['57']
 ['63']
 ['69']
 ['73']
 ['74']
 ['76']
 ['81']]
[['1']
 ['7']
 ['16']
 ['22']
 ['36']
 ['42']
 ['56']
 ['62']
 ['67']
 ['73']
 ['74']
 ['76']
 ['79']]

In [399]:



##################### KNN #########################
X = [['0'], ['1'], ['2'], ['3']] #training data
y = [0, 0, 1, 1]         # target data >50k  year

neigh = KNeighborsClassifier(n_neighbors=3)
neigh.fit(X, y)
print(neigh.predict([[1.1]]))
print(neigh.predict_proba([[0.9]]))
##################################################


# f = re.sub(':1', '',str(xx[0:1]))
# ff = re.sub('NaN', '', f)
# print(ff)
# print(type(ff))
# zz = np.frombuffer(ff, dtype=str)

['0']
[[0.66666667 0.33333333]]